.list_item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

input {
    cursor: pointer;
}

.delete {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: red;
    font-weight: 600;
}

.delete:hover {
    background-color: rgb(255 0 0 / 20%);
    box-shadow: 0 0 5px 1px rgb(255 0 0 / 20%);
}