.btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 9px 4px 0px #000;
    position: relative;
    top: 0;
    transition: all linear 0.1s;
  }
  
  .btn_color {
    background-color: blueviolet;
    color: aliceblue;
    font-weight: 700;
  }

  .btn:hover {
    background-color: darkorchid;
  }

  .btn:active {
    position: relative;
    top: 4px;
    box-shadow: 0 6px 4px 0px #000;
  }