
.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.delete {
  color: red;
  cursor: pointer;
}

.content {
  padding: 20px 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
